<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @exercise_day.date %>
</p>

<%= link_to 'Edit', edit_exercise_day_path(@exercise_day) %> |
<%= link_to 'Back', exercise_days_path %>
