#my_account_name
{
  margin-bottom: 10px;
  font-size: 20px;
}
#my_account_email
{
  margin-left: 10px;
  font-size: 12px;
  margin-bottom: 10px;
}
#my_account_logout
{
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-right: 0;
}