<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Vítejte, <%= @data[:user].full_name %></h1>

<p>
  Gratulujeme vám k úspěšné rezervaci do systému.
</p>

<p>
  Pro přihlášení pokračujte zde: <%= login_url %>.
</p>
</body>
</html>