<h1>Vítejte v rezervačním systému Clubu Sante</h1>
<p>
  Váš účet aktivujete následujícím odkazem: <a href="<%= @data[:link] %>"><%= @data[:link] %></a>
</p>
<p>
  Po aktivaci již můžete využívat všechny naše služby
</p>