<h1>Vítejte, <%= @data[:user].full_name %></h1>
<% activation_link = @data[:user].activation_link %>
<p>
  Váš účet aktivujete následujícím odkazem: <a href="<%= activation_link %>"><%= activation_link %></a>
</p>

<p>
  Pro přihlášení pokračujte zde: <%= login_url %>.
</p>