<h1>Vítejte, <%= @data[:user].full_name %></h1>
<p>
  Váš účet aktivujete následujícím odkazem: <a href="<%= @data[:link] %>"><%= @data[:link] %></a>
</p>

<p>
  Pro přihlášení pokračujte zde: <%= login_url %>.
</p>