// jQuery UI override
.ui-widget-content
{
  border: none;
}

.ui-widget-header
{
  background: none;
}

.ui-tabs-active
{
  background-color: red;
}

.ui-tabs .ui-tabs-panel
{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.calendar_in_week_selector
{
  .calendar_timetable
  {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

	border-collapse: collapse;

  td
  {
  	border: 1px solid gray;
  	padding: 0;
  }
  .calendar_exercise_style
  {
  	width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  	z-index: 10;
  	padding: 0;
  	margin: 0;
  	border: 0;
    font-size: larger;
  }

  // three types of exercise
  .calendar_template_exercise
  {

  }
  .calendar_modification_exercise
  {
    background-color: orange;
  }
  .calendar_exercise
  {

  }

  .calendar_grey_past
  {
    background-color: #b0b0b0;
  }

  .calendar_weekday
  {
  	position: relative;
  	vertical-align: top;
  	padding: 0;
  }
  .calendar_hour
  {
  	height: 48px; // dependent on (Calendar.pixels_per_minute * 60)!!!
  	text-align: center;
  	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
  }
  .calendar_date
  {
    padding-left: 2px;
    padding-right: 2px;
  }
  .free_exercise
  {
  	background-color: #679e00;
  }

  .hour_separator_line
  {
    width: 100%;
    z-index: 6;
    border-bottom: 1px solid gray;
  }

  .calendar_beginning_text
  {

  }

  .current_time_line
  {
    z-index: 5;
    border-bottom: 2px solid red;
  }

  .calendar_modified_box
  {
    float: right;
    margin-top: 0;
    background-color: red;
    width: 8px;
    height: 8px;
  }
}
	