<p id="notice"><%= notice %></p>

<p>
  <strong>Calendar:</strong>
  <%= @timetable_modification.calendar_id %>
</p>

<%= link_to 'Edit', edit_timetable_modification_path(@timetable_modification) %> |
<%= link_to 'Back', timetable_modifications_path %>
