<div id="ticket_selector" title="Výběr permanentky (<%= therapy.name %>)">
	<table>
		<tr>
			<th>
				Platná do
			</th>
			<th>
				Zbývá vstupů
			</th>
			<th>
				Zaplaceno
			</th>
			<th>
				Použitelná
			</th>
		</tr>
		<% tickets.each do |ticket| %>
			<%= render partial: "tickets/ticket_selector_line", locals: { ticket: ticket, therapy: therapy }%>
		<% end %>
	</table>
</div>
