<% ticket = user_summary_ticket_line %>
<tr>
	<td>
		<%= get_ticket_end_date ticket %>
	</td>
	<td>
		<%= get_ticket_entries_remaining_string ticket %>
	</td>
	<td>
		<%= get_ticket_therapies_string ticket %>
	</td>
</tr>
