<div id="user_summary_exercises">
  <h2 class="user_summary_section_title">Moje rezervace</h2>

  <% if @data[:exercises].count > 0 %>
      <% @data[:exercises].each do |exercise| %>
          <div class="user_summary_line user_summary_exercise" data-id=<%= exercise.id %>>
            <div class="title"><%= exercise.timetable.calendar.therapy.name %></div>
            <div class="date"><%= l exercise.exercise_modification.date %></div>
            <div class="unsubscribe">
              <%= button_to "Odhlásit", unsubscribe_path, params: {id: exercise.id}, remote: true, class: "whoa_button user_summary_unsubscribe" %>
            </div>
          </div>
      <% end %>
  <% else %>
      Nemáte žádné rezervace
  <% end %>
</div>