<table id="user_summary_tickets_table">
	<tr>
		<th>Konec platnosti</th>
		<th>Zbývá vstupů</th>
		<th>Terapie</th>
	</tr>
	<%= render partial: "tickets/user_summary_ticket_line", collection: tickets %>
</table>