<p id="notice"><%= notice %></p>

<h1>Permanentky</h1>

<table>
  <thead>
    <tr>
      <th>Platná do</th>
      <th>Zbývající počet vstupů</th>
      <th>Terapie</th>
      <th>Zaplaceno</th>
      <th>Uživatel</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <%= render partial: "tickets/ticket", locals: { ticket: ticket } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nová permanentka', new_ticket_path %>