<table>
	<th>Platí od</th>
	<th></th>
	<% calendar.timetable_templates.find_each do |timetable_template| %>
		<tr>
			<td><%= l timetable_template.beginning %></td>
			<td><%= link_to 'Upravit', edit_timetable_template_path(timetable_template) %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'Nový týdenní plán', new_timetable_template_path(calendar_id: calendar.id) %>
