<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @therapy_category.name %>
</p>

<%= link_to 'Edit', edit_therapy_category_path(@therapy_category) %> |
<%= link_to 'Back', therapy_categories_path %>
