body {
  color: $foreground-color;
  font-family: "Helvetica Neue", verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: "Helvetica Neue", verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 10px;
}

td {
  padding: 1px;
  padding-right: 6px;
}

a {
  text-decoration: underline;
  color: gray;
  &:hover {
    text-decoration: underline;
    color: black;
  }
}

.right_float_actions
{
  float: right;
}

.actions_column
{
  width: 100px;
  i
  {
    margin-left: 10px;
  }
  a
  {
    float: right;
  }
}


.whoa_button
{
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  background-color: #c5e7f0;
  border: 0;
  box-shadow: 0;
  &:hover
  {
    color: black;
    background-color: #cbedf6;
    text-decoration: none;
  }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}
#alert
{
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
