<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @available_value.name %>
</p>

<%= link_to 'Upravit', edit_available_value_path(@available_value) %> |
<%= link_to 'Zpět', available_values_path %>
