<% if user.tracked_values.count == 0 %>
	Tento uživatel nemá žádné sledované hodnoty<br />
<% end %>
<% user.tracked_values.find_each do |tracked_value| %>
	<div class="field">
    <%= label_tag tracked_value.available_value.name %><br>
    <%= number_field_tag "goals[" + tracked_value.id.to_s + "]" %>
  </div>
<% end %>
<%= link_to "Přidat sledované hodnoty", admin_edit_user_path(user) %>
