.calendar_in_week_selector
{
  .calendar_timetable
  {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

	border-collapse: collapse;

  td
  {
  	border: 1px solid gray;
  	padding: 0;
  }
  .calendar_exercise_style
  {
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	z-index: 10;
  	padding: 0;
  	margin: 0;
  	border: 0;

  }

  // three types of exercise
  .calendar_template_exercise
  {

  }
  .calendar_modification_exercise
  {
    background-color: orange;
  }
  .calendar_exercise
  {

  }

  .calendar_grey_past
  {
    background-color: #b0b0b0;
  }

  .calendar_weekday
  {
  	position: relative;
  	vertical-align: top;
  	padding: 0;
  }
  .calendar_hour
  {
  	height: 24px; // dependent on (Calendar.pixels_per_minute * 60)!!!
  	text-align: center;
  	position: relative;
  	vertical-align: center;
  }
  .calendar_date
  {
    padding-left: 2px;
    padding-right: 2px;
  }
  .free_exercise
  {
  	background-color: #679e00;
  }
  .full_exercise
  {
  	background-color: #dd2002;
  }
  .signed_exercise
  {
  	background-color: #ffcc00;
  }

  .hour_separator_line
  {
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid gray;
  }

  .current_time_line
  {
    z-index: 5;
    border-bottom: 2px solid red;
  }
}
	