#calendars_summary_tickets
{
  float: left;
  width: 200px;
  height: 100%;
  position: relative;
}

#calendars_summary_calendars
{
  float: left;
  width: 750px;
  position: relative;
}

#calendars_summary_coaches
{
  float: right;
  width: 200px;
  height: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
}

.tickets_bar_div
{
  margin-bottom: 10px;
}
.tickets_bar_entries
{
  font-size: 16px;
}
.tickets_bar_validity
{

}

.reservations_bar_title
{
  margin-bottom: 20px;
  font-weight: bold;
}

.coach_bar_name
{
  font-size: 16px;
}

.coach_bar_div
{
  margin-top: 15px;
}

.coach_color_div
{
  float-clear: both;
}
.coach_color_text
{
}
.coach_color_box
{
  margin-top: 3px;
  width: 1em;
  height: 1em;
  float: right;
}

#calendars_summary_color
{
  margin-left: 10px;
  margin-right: 25px;
}

#calendars_summary_color_left
{
  float: left;
  width: 33%;
}
#calendars_summary_color_mid
{
  float: left;
  text-align: right;
  width: 33%;
}
#calendars_summary_color_right
{
  float: right;
  width: 33%;
  text-align: right;
}

#calendars_summary_color_free
{
  width: 30%;
  height: 2em;
  background-color: #029a02;
  display: inline-block;
  vertical-align: middle;
}
#calendars_summary_color_my
{
  width: 30%;
  height: 2em;
  background-color: #ffcc02;
  display: inline-block;
  vertical-align: middle;
}
#calendars_summary_color_full
{
  width: 30%;
  height: 2em;
  background-color: #dd2204;
  display: inline-block;
  vertical-align: middle;
}