body
{
  margin: 0;
  padding: 0;
  #container
  {
    #page
    {
      padding: 2em;
      margin: 5em auto 0 auto;
      width: 80%;
      height: auto;
      background-color: white;
    } 
  }
}

a
{
  text-decoration: none;
  color: black;
  &:hover
  {
    text-decoration: underline;
  }
}


.current_user_status
{
  padding: 0.5em;
  border-radius: 5px;
  background-color: #FFFEE1;
  width: 20%;
}

#ticket_selector
{
  border-collapse: collapse;
}

table
{
  border-collapse: collapse;
}

td
{
  border: none;
}
