body
{
  margin: 0;
  padding: 0;
  #container
  {
    #page
    {
      #header
      {
        overflow: auto;
        width: 100%
      }
      background-color: #ffffff;
      padding: 2em;
      margin: 5em auto 0 auto;
      width: 1000px;
      height: auto;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    } 
  }
}

a
{
  text-decoration: underline;
  color: gray;
  &:hover
  {
    text-decoration: underline;
    color: black;
  }
}

.multi_line
{
  white-space: pre;
}


.current_user_status
{
  padding: 0.5em;
  border-radius: 5px;
  background-color: #a4a0a2;
  width: 15%;
  float: right;
}

#ticket_selector
{
  border-collapse: collapse;
}

table
{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 10px;
}

td
{
  padding: 1px;
  padding-right: 6px;
}
