<% tickets.each do |ticket| %>
    <div class="tickets_bar_div">
      <div class="tickets_bar_entries"><%= get_ticket_entries_remaining_reservations_string ticket %></div>
      <div class="tickets_bar_validity">platná do: <%= get_ticket_end_date ticket %></div>
    </div>
<% end %>
<p><%= "nemáte žádné platné permanentky pro tuto terapii" if !tickets.any? %></p>
<p><%= "můžete si ale zarezervovat hodinu \"na dluh\", poté jí osobně doplatíte na recepci v klubu" if therapy.can_single_use && !tickets.any? %></p>