<% set_title "Můj účet" %>
<div id="my_account_name"><%= current_user.full_name %></div>
<div id="my_account_email"><%= current_user.email %></div>
<%= link_to "Odhlásit se", logout_path, class: "whoa_button" %>